* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-family: calibri;
}
.strike .ng-binding {
    text-decoration: line-through;
    color: #ccc;
}
.todos {
    padding: 20px;
}
.todo {
    padding: 10px;
    font-size: 21px;
    border-bottom: 1px solid;
    border-color: antiquewhite;
}
.todo .btn {
    margin-left: 5px;
    width: 72px;
}

input.btn.btn-info {
    margin-right: 40%;
    background-color: rgba(234, 180, 0, 0.96);
    border-color: rgba(234, 180, 0, 0.52);
}

input.btn.btn-primary {
    width: 72px;
    float: right;
    margin-right: 17.4%;
    margin-top: 2%;
}

input.btn.btn-info:hover {
    background-color: rgba(234, 151, 0, 1);
}

.todo:hover {
    background: #e7e7e7;
}
@media (max-width: 991px) {
    .todo .btn {
        margin-bottom: 10px;
    }
    .todo input[type=checkbox] {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 991px) {
    .todo .btn-warning {
        margin-top: 10px;
        margin-left: 0px
    }
}
 
@media (max-width: 450px) {
    .todo .col-xs-8 {
        width: 85%;
    }
    
    .ng-binding {
    width: 100%;
    word-wrap: break-word;
    }

    input.btn.btn-primary {
    width: 100%;
    float: none;
    margin-right: 0%;
    margin-top: 2%;
}
    .todo .col-xs-3 {
        width: 100%;
        text-align: center;
        border-top: 1px dashed #aaa;
        padding-top: 10px;
        margin-top: 10px;
    }
}